.snowflake {
  position: fixed;
  background-color: green;
  user-select: none;
  z-index: 1000;
  pointer-events: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}


.button ,.submit{
  border-radius: 4px;
  background-color: #ff661a;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  opacity: 1.2;
  border-radius: 22px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
   opacity: 1;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
   opacity: 1;
}

.button:hover span {
  padding-right: 25px;
  opacity: 1;

}
.button:hover {opacity: 0.6}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#wrapper{
	width:100%; height:130px;
	}
button{
	height:5 px; position:relative; margin: -10px -50px; width:100px; top:32%; left:43%;
	}
